*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Raleway', sans-serif;

}
body{
	background-color: #dfd8d8aa;
}
.container{
	width: 100%;
	height: auto;
	background: linear-gradient(to right,#e9efe9,#f5f5f5bf);
	border-radius: 24px;
	margin: 9px 0px;
	box-shadow: 0px 3px 20px 0px black;
}
 
  ul{
	display: flex;
	justify-content: center;
	display: flex;
	background: #ffffff;
    box-shadow: -1px 1px 7px 10px #c9c6c629;
 }
 li{
	margin: 21px 43px;
}
 li a{
 	font-size: 21px;
	color: black;
}
 li a:hover{
 	font-size: 21px;
	padding: 2px;
	border-bottom: solid 2px rgb(175, 25, 180);
	box-shadow: -1px -1px 71px 10px #00000029;
}
.allcontent{
	display: flex;
}
.addnew{
	width: 30%;
	height: 83vh;
	margin: 10px 21px;
	border-radius: 11px;

}
.displayed{
	width: 65%;
	height: 80vh;
	border-left: 2px solid rgb(198, 192, 192) ;
	border-right: 2px solid #db19db ;
	margin: 15px 11px;
	overflow-x:auto;

}
table{
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
table tr:hover{
	background: #e2e2e2;
	cursor: pointer;
}
table th{
	background: #e259fd;
	padding: 21px;
	color: white;
}
table td{
	border-bottom: solid 1px #e259fd ;
padding: 13px;
}
table .dark{
	background: #a6a3a3b6;

}
.register_candidates{
	border-bottom: solid 2px #af19b4;

}
